body {
    font-family: 'Roboto', sans-serif;
    font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1600 - 300)));
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 750px;
    padding: 50px;

}

#quote {
    margin-bottom: 200px;
}

.container {
   position: absolute;
}

button {
  padding: 10px;
  margin-top: 20px;
}

button:hover span {
    display:none;
}

button:hover:before {
    content:"Gladly";

    
} 
  
  

